{% extends 'base.html' %} {% block content %}
<body style="padding: 100px; color: aliceblue">
  <div class="container" style="margin-top: 100px">
    <h2>Editar Agendamento</h2>

    <form method="POST">
      <div class="mb-3">
        <label for="nome_pet" class="form-label">Nome do Pet:</label>
        <input
          type="text"
          id="nome_pet"
          name="nome_pet"
          class="form-control"
          value="{{ agendamento.nome_pet }}"
          required
        />
      </div>
      <div class="mb-3">
        <label for="tipo_servico" class="form-label">Tipo de Serviço:</label>
        <input
          type="text"
          id="tipo_servico"
          name="tipo_servico"
          class="form-control"
          value="{{ agendamento.tipo_servico }}"
          required
        />
      </div>
      <div class="mb-3">
        <label for="data_hora" class="form-label">Data e Hora:</label>
        <input
          type="datetime-local"
          id="data_hora"
          name="data_hora"
          class="form-control"
          value="{{ agendamento.data_hora.strftime('%Y-%m-%dT%H:%M') }}"
          required
        />
      </div>
      <div class="mb-3">
        <label for="observacoes" class="form-label">Observações:</label>
        <textarea
          id="observacoes"
          name="observacoes"
          class="form-control"
          rows="4"
        >
{{ agendamento.observacoes }}</textarea
        >
      </div>

      <div class="mb-3">
        <button type="submit" class="btn btn-primary">
          Atualizar Agendamento
        </button>
        <a href="{{ url_for('listar_agendamentos') }}" class="btn btn-secondary"
          >Voltar para a lista de agendamentos</a
        >
      </div>
    </form>
  </div>
  {% endblock %}
</body>
